<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG session test" verbose="1" >
  <test name="Different testng" >
    <classes>
       <class name="testng_program.GoogleTitleTest" />
       <class name="testng_program.TestNgPriority" />
       <class name="testng_program.TestRediffmail" />
       <class name="testng_program.TestNgNotes" />
    </classes>
  </test>
</suite>
